<div class="well">
  <h4>There many questions that a man might want answered but a few are bold enough</h4>
  <p>
    This a Q&amp;A site dedicated to answering such difficult questions
  </p>
</div>

<div class="container">
  <% @questions.each do |question| %>
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img src=<%=question.gravatar %> alt="" class="media-object"/>
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= question.email %> asked:</h4>
      <div><%= time_ago_in_words question.created_at %></div>
      <%= question.body %>
      <div class="">
        <a href="<%= question_path(question) %>" class="btn btn-success btn-xs">View Answers</a>
      </div>
    </div>
  </div>
  <% end %>
</div>

</div>
